# Misc
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Terraform (if used)
.terraform/
*.tfstate
*.tfstate.*

# Secrets
*.env
*.local

# Scratch Bicep build outputs
/infra/main.json
/infra/managedapp/mainTemplate.json
/infra/managedapp/deployDefinition.json
